---
title: Page not found
description: Unable to find the page you're looking for
page_path: 404.html
permalink: false
og_image: exortech-og2.png
og_image_width: 1400
og_image_height: 700
---

{% block content %}

<header class="header-default">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>404</h1>
            <hr>
            <p>Unable to find the page you're looking for.</p>
            <a href="/" class="btn btn-primary btn-xl">Home</a>
        </div>
    </div>
</header>
{% endblock %}
