---
title: Presentations - Exortech.com
description: Slides and videos of recent talks given by Exortech Consulting
page_path: presentations/
og_image: exortech-og2.png
og_image_width: 1400
og_image_height: 700
---

{% block content %}
<header class="header-presentations">
  <div class="header-content">
    <div class="header-content-inner">
      <h1>Talks &amp; slides</h1>
    </div>
  </div>
</header>
<section id="presentations">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Presentations</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row text-center">
          <div class="col-sm-4">
            <a href="https://docs.google.com/presentation/d/1TlP7R_8RFcYmr8NMB86ZHR3CY4H9s0Cs/edit?usp=sharing&ouid=103451414700534236272&rtpof=true&sd=true">
              <img src="/img/presentation-feature-flag.png" alt="MEC: Feature flag all the things" class="presentation-slide" />
              <h3>Feature flag all the things!</h3>
            </a>
            <p class="text-muted">Devops Meetup 2019</p>
          </div>
          <div class="col-sm-4">
            <a href="https://docs.google.com/presentation/d/1cQLuhKg7I7yXu2Ub9JjSMDgeSMY23tI53UaCil_5jX4/edit?usp=sharing">
              <img src="/img/presentation-eco.png" alt="MEC: Feature flag all the things" class="presentation-slide" />
              <h3>Can domain names save the planet?</h3>
            </a>
            <p class="text-muted"></p>
          </div>
          <div class="col-sm-4">
            <a href="https://docs.google.com/presentation/d/11A5Me2Vowzi-ijZjbYP-ddV21wS0rSP0cXywtijYYJA/edit?usp=sharing">
              <img src="/img/presentation-microservices2.png" alt="Microservices in a serverless world slides" class="presentation-slide" />
              <h3>Microservices in a serverless world</h3>
            </a>
            <p class="text-muted">Microservices Meetup 2017</p>
          </div>
          <div class="clearfix hidden-xs"></div>
          <div class="col-sm-4">
            <a href="https://docs.google.com/presentation/d/1NJU8L5Yp-fNc273olbnPdt21mof3BO1GTCYO25DArsE/edit?usp=sharing/">
              <img src="/img/presentation-launch.png" alt="Launch it! slides" class="presentation-slide" />
              <h3>Launch It!</h3>
            </a>
            <p class="text-muted">Product Tank 2016</p>
          </div>
          <div class="col-sm-4">
            <a href="https://exortech.github.io/presentations/monolith_to_microservices/">
              <img src="/img/presentation-monolith.png" alt="From Monolith To Microservices slides" class="presentation-slide" />
              <h3>From Monolith To Microservices</h3>
            </a>
            <p class="text-muted">Agile In The Cloud 2016</p>
          </div>
          <div class="col-sm-4">
            <a href="https://exortech.github.io/presentations/test_driven_decoupling/">
              <img src="/img/presentation-tdd.png" alt="Test-Driven Decoupling slides" class="presentation-slide" />
              <h3>Test-Driven Decoupling</h3>
            </a>
            <p class="text-muted">Agile India 2013</p>
          </div>
          <div class="col-sm-4">
            <a href="https://exortech.github.io/presentations/dev_ops_culture/">
              <img src="/img/presentation-devops.png" alt="Cultivating a Devops Culture slides" class="presentation-slide" />
              <h3>Cultivating a Devops Culture</h3>
            </a>
            <p class="text-muted">Agile India 2013</p>
          </div>
          <div class="col-sm-4">
            <a href="https://exortech.github.io/presentations/enterprise_mvps/">
              <img src="/img/presentation-mvp.png" alt="Designing MVPs for Enterprise Customers slides" class="presentation-slide" />
              <h3>Designing MVPs for Enterprise Customers</h3>
            </a>
            <p class="text-muted">Agile India 2013</p>
          </div>
          <div class="col-sm-4">
            <a href="https://exortech.github.io/presentations/pivoting_midflight/">
              <img src="/img/presentation-pivot.png" alt="Pivoting Mid-flight slides" class="presentation-slide" />
              <h3>Pivoting Mid-flight</h3>
            </a>
            <p class="text-muted">Agile India 2013</p>
          </div>
        </div>
      </div>
</section>
<!-- <section id="videos">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Videos</h2>
                <hr class="primary">
                <h3 class="section-subheading text-muted">We can help your business with:</h3>
            </div>
        </div>
        <div class="row text-center">
        </div>
      </div>
    </div>
</section> -->

{% endblock %}
